* {
	margin: 0px;
	padding: 0px;
	font-family: 'Glegoo', serif;
	color: navy;
}

html, body {
	width: 100%;
	height: 100%;
	background-image: url(imgs/bwcity.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.column1 {
	float: left;
	width: 30%;
	height: 100%;
	background-color: white; 
}

.column2 {
	float: right;
	width: 70%;
	height: 100%;
	background-color: none;
}

h3 {
	text-align: center;
	position: inherit;
	font-size: 30px;
}

img {
	width: 10em;
	height: 10em;
	margin: 0 auto;
	display: block;

}

p {
	text-align: center;
}


#about {
	background-color: #93c9e8;
}
#blog {
	background-color: #D3FAFF;
}
	h4 {
		text-align: center;
	}

	.content {
		padding: 10px 45px 3px 45px;
		text-align: justify;
	}

	.content-images {
		width: 600px;
		height: 400px;
	}
	
#portfolio {
	background-color: #B0D6DF;
}

