* {
	font-family: 'Glegoo', serif;
}

.column1 {
	float: left;
	width: 30%;
	height: 100%;
	background-color: red; 
}

.column2 {
	float: right;
	width: 50%;
	height: 100%;
	background-color: blue;
}

/*#about {
	background-color: #D3FAFF;
}
#blog {
	background-color: #93c9e8;
}
#portfolio {
	background-color: #80DCFF;
}*/

/*.sections {
	float: right;
	height: 20%;
	width: 60%;
}*/

/*td {
	width: 60%;
}*/

/*#accordianmenu: first-child {
	background-color: #D3FAFF;
}
#accordianmenu: nth-child(2) {
	background-color: #93c9e8;
	}
#accordianmenu: nth-child(3) {
	background-color: #80DCFF;
}*/


h3 {
    display: inline;
    text-align: center;
    font-size: 35px;
}


#me img {
	width: 10em;
	height: 10em;
	margin: auto;
}

/*#infomenu {
	width: 150px;
	height: auto;
	margin: auto;
	background-color: #D4ECFF;
	float: left;*/



